#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#heading {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#namebox {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
